.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
docker-compose.override.yml


# OS
.DS_Store
Thumbs.db

# Modelos generados por entrenamiento
local_ia/models/
local_ia/index/embeddings.npy
